body {
    margin: 0;
  }
  
  .none-style-a a {
    text-decoration: none;
    color: inherit;
  }
  
  .none-style-a a:hover {
    text-decoration: none;
    color: inherit;
  }
  .right-1{
    right: 40px;
  }
  
  .top-1{
    top: 20px;
  }
  
  .pointer{
    cursor: pointer;
  }
  
 
  @media (max-width: 1000px) { 
  
    
  
    /* Login, Sing up and Btn cart buttons responsive styles  */
    .responsive-buttons{
      position: relative;
      display: flex;
      flex-direction: column-reverse;
    }
  
    
  
   }
  
   